h4.center.purple-text Edição da Hipótese

.divider

= render 'form'

-@footer_link=true
-@back_float_button_link = pitch_ideas_path(@pitch)
=render 'layouts/partials/components/static/float_buttons/back'