.row: h5.purple-text.center Comece sua Startup pela Apresentação do Projeto de Empresa (Pitch)

.divider

== render 'form'

-@footer_link=true
-@back_float_button_link = pitches_path
=render 'layouts/partials/components/static/float_buttons/back'