.row
  h5.purple-text.center Vamos levantar a Hipótese
  =render  'layouts/partials/components/static/reference_sub_title'

.divider

== render 'form'

-@footer_link=true
-@back_float_button_link = pitch_path(@pitch) unless @idea
-@back_float_button_link = pitch_idea_path(@pitch, @idea) if @idea && params[:id]
=render 'layouts/partials/components/static/float_buttons/back'