.row
  h5.purple-text.center Vamos levantar a Hipótese
  =render 'layouts/partials/components/static/reference_sub_title'

.divider

= render 'form'

- @back_float_button_link = gen_back_link(@idea)
=render 'layouts/partials/components/static/float_buttons/back'