@media only screen and (max-width : 992px) {
  .navbar-top {
    margin-top: -5px !important;
  }

  .medium_down_margin_top {
    margin-top: 65px !important;
  }

  #error_bg_img {
    background-color: #d6d6d6;
    background-position: center;
    background-position-y: -35px;

    .container {
      margin-top: 5% !important;
      min-height: 100vh !important;
    }
  }

  .icon-explanation {
    h4 {
      margin-bottom: 5px !important;
    }

    h5 {
      margin: 10px 0;
    }
  }

  .content-wrap {
    margin-left: 0;
  }

  .yaybar.yay-shrink~.content-wrap,
  .yaybar.yay-shrink~.load-spinner,
  .yaybar.yay-shrink~footer {
    margin-left: 0;
  }

  .desk_huge_margin_top {
    margin-top: 0;
  }
}