@media only screen and (max-width : 992px) {
  .icon-explanation {
    h4 {
      margin-bottom: 5px !important;
    }

    h5 {
      margin: 10px 0;
    }
  }

  .content-wrap {
    margin-left: 0;
  }

  .yaybar.yay-shrink~.content-wrap,
  .yaybar.yay-shrink~.load-spinner,
  .yaybar.yay-shrink~footer {
    margin-left: 0;
  }
}