@media only screen and (max-width : 600px) {
  h2.title {
    font-size: 2.5rem;
  }

  .action-btn {
    & > span {
      font-size: 1.2rem;
    }
  }

  nav .nav-wrapper {
    padding-right: 0;
  }

  .non-parallax {
    img {
      display: block;
      position: absolute;
      left: -25%;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      transform: translateX(-50%);
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
    }
  }

  a.call_video {
    margin-left: -9px !important;
  }

  .pitch_card {
    .card-panel.stats-card > i {
      font-size: 3rem;

      &[class*=ion-] {
        bottom: -1.2rem;
      }
    }
  }

  .warning_label {
    margin-top: 160px;
  }

  img#avatar {
    margin-left: 16.66667%;
  }

  .set-pitch_cover {
    p {
      margin-top: 46%;
    }
  }

  .mobile_margin_top {
    margin-top: 15%;
  }

  .set-video {
    i.ion-social-youtube {
      font-size: 5rem;
    }
  }
}