@media only screen and (max-width : 600px) {
  a.call_video {
    margin-left: -9px !important;
  }

  .pitch_card {
    .card-panel.stats-card > i {
      font-size: 3rem;

      &[class*=ion-] {
        bottom: -1.2rem;
      }
    }
  }

  .warning_label {
    margin-top: 160px;
  }

  img#avatar {
    margin-left: 16.66667%;
  }

  .set-pitch_cover {
    p {
      margin-top: 46%;
    }
  }

  .mobile_margin_top {
    margin-top: 15%;
  }

  .set-video {
    i.ion-social-youtube {
      font-size: 16rem;
    }
  }
}