.row
  a.col.l12.s12.btn.waves-effect.waves-light.blue.white-text.remove_upper_case href="#{user_omniauth_authorize_path('facebook')}"
    i class='fa fa-facebook-square'
    | &nbsp; Conecte-se com o Facebook