-@resource_slim_color = 'blue-grey-text'
p class="slim login-intro justify #{@resource_slim_color}" NitroStart é uma plataforma de Cross-Equity-Funding, ou seja, uma ferramenta de financiamento coletivo por parte de Empresas/Pessoas visando participação nos lucros dos projetos aportados e acelerados.

/! Safe Investments
-@resources_header_color='blue-grey-text'
-@resource = {i:'ion-lock-combination', header:'Rendimento Seguro como a Poupança', desc:'Seu lucro garantido, pois os riscos são arcados pela NITRO START.'}
= render 'layouts/partials/components/dynamic/sign_resources'

/! Social Motivation
-@resources_header_color='purple-text'
-@resource = {i: 'mdi-social-people', header: 'Ajude a Gerar Empregos', desc: 'Tire o país da Crise investindo em gerandores de empregos.'}
= render 'layouts/partials/components/dynamic/sign_resources'

/! National Motivation
-@resources_header_color='amber-text'
-@resource = {i:'ion-arrow-graph-up-right', header:'Nosso Modelo VS Título de Dívida', desc:'Esperando Startup virar S.A. para faturar? Antecipe seus ganhos!!'}
= render 'layouts/partials/components/dynamic/sign_resources'

/! Raising Access
- @resources_header_color='teal-text'
- @resource = {i: 'ion-cash', header: 'Acesso à Capital', desc: 'Aquele capital semente mais rápido, fácil e melhor aplicado!'}
= render 'layouts/partials/components/dynamic/sign_resources'

/!
- @resources_header_color='light-blue-text'
- @resource = {i: 'ion-settings', header: 'Pacote NITRO', desc: 'Faltando Profissionais? Espaço? Contatos? A NITRO é pra você!'}
= render 'layouts/partials/components/dynamic/sign_resources'