a href="https://pt.wikipedia.org/wiki/ISO_3166-1" target="_blank" class="#{external_link_color}"
  i.left-icon.slim.fa.fa-external-link
  | Veja a Lista de Idiomar utilizando o Alfa-2 da ISO 3166-1 (por exemplo: pt, br, fr...)