/! Parallax Cover Image part
=render 'home/partials/cover/amateur'

/! YouTube Call
=render  'home/partials/youtube/amateur'

/! How Does it Work
=render 'home/partials/how_works/investor'
=render 'home/partials/how_works/startupers'

/! Media News
=render 'home/partials/medias/angel_news'