/! Parallax Cover Image part
=render 'home/partials/cover/amateur'

/! YouTube Call
=render  'home/partials/youtube/amateur'

/! How Does it Work
=render 'home/partials/how_works/investor'

/! Partners Brand
=render 'home/partials/partners'

/! Media News
=render 'home/partials/medias/angel_news'