/! Banner
=render 'layouts/creative/nav'
=render 'layouts/creative/banner'

/! Partners
=render 'layouts/creative/partners'

/! NavBar to fix on scroll
=render 'layouts/creative/landing_fixed_bar'

/! How does it work
=render 'layouts/creative/methodology'

/! NitroStart offers
=render 'layouts/creative/offers_parallax'

/! What NitroStart expects
=render 'layouts/creative/expects'

/! What NitroStart expects parallax
=render 'layouts/creative/expect_parallax'

/! Why NitroStart has equity
=render 'layouts/creative/equity'

/! TODO projects raising Flip card

/! Why NitroStart has equity
=render 'layouts/creative/our_mission'

/! FooterLinks
=render 'layouts/creative/footer'

/! TODO add footer aqui
/! TODO revisar o tamanho das imagens (diminuir tamanho e/ou qualidade para ficarem mais leves