/ TODO focar na galera que tem TDAH, são muito criativos
/! Parallax Cover Image part
=render 'home/partials/cover'

/! How does it work section
=render 'home/partials/how_works'

/! NITRO Receipt
=render 'home/partials/nitro_receipt'

/! Investor Profile Calc
= render 'home/partials/investor_profile'

/! StartUps show-room
= render 'home/partials/show_room'