/! Banner Cover
=render 'home/partials/cover/index'

/! Role Texts
=render 'home/partials/roles'

/! How does it work
=render 'home/partials/slim_how_works'

/! Our Mission
=render 'home/partials/our_mission'