/! Banner Cover
=render 'home/partials/cover/index'

/! Role Texts
=render 'home/new_partials/roles'

/! How does it work
=render 'home/partials/slim_how_works'

/! Motivate Quotes
=render 'home/partials/quotes'

/! Academy links
=render 'home/partials/academy_links'