/! Parallax Cover Image part
=render 'home/partials/cover/startupers'

/! YouTube Call
=render  'home/partials/youtube/startupers'

/! Platform
=render  'home/partials/platform/startupers'

/! Motivate Quotes
=render  'home/partials/quotes'

/! Partners Brand
= render 'home/partials/partners'