a href="#" target="_blank" class="#{external_link_color}"
  i.left-icon.slim.fa.fa-external-link
  | Aprenda mais sobre os papéis na Nitro Academy. Veja Exemplos: Desenvolvedor, CEO, CTO, CDO, Mentor...