=render 'dashboard/components/investments/overview'

/ Profit calc
.row
  =render 'dashboard/components/investments/profit_sharing'
  =render 'dashboard/components/investments/tax_profit'
  =render 'dashboard/components/investments/taxes_and_fees'