.row
  =render 'dashboard/components/start_ups/business_tracking'
  =render 'dashboard/components/start_ups/project_tracking'

.row
  =render 'dashboard/components/start_ups/financial_tracking'
  =render 'dashboard/components/start_ups/market_share'
  =render 'dashboard/components/start_ups/customers_feedbacks'