h4.center.purple-text Edição do Modelo de Negócio
= render 'layouts/partials/components/static/reference_sub_title'

.divider

= render 'form'

-@footer_link=true
-@back_float_button_link = pitch_projects_path(@pitch)
=render 'layouts/partials/components/static/float_buttons/back'