.row
  h5.purple-text.center Conete-nos sobre o Estágio do Projeto
  =render 'layouts/partials/components/static/reference_sub_title'

.divider

=render 'form'

- @back_float_button_link = gen_back_link(@project)
=render 'layouts/partials/components/static/float_buttons/back'