h4.center.purple-text Edição do Cadastro de Tripulante
=render  'layouts/partials/components/static/reference_sub_title'

.divider

=render 'form'

-@footer_link=true
-@back_float_button_link = pitch_teammates_path(@pitch)
=render 'layouts/partials/components/static/float_buttons/back'