.row
  h5.purple-text.center Conte-nos sobre seu Financeiro
  =render  'layouts/partials/components/static/reference_sub_title'

.divider

== render 'form'

- @back_float_button_link = gen_back_link(@financial)
=render 'layouts/partials/components/static/float_buttons/back'