-login_btn = {color:'blue', icon:'mdi-social-person', txt:'Acessar', to:new_user_session_path}
-sign_up_btn = {color:'green', icon:'mdi-social-person-add', txt:'Registrar-se', to:new_user_registration_path}
-btns=[login_btn, sign_up_btn]
-@float_opts={main_btn_color:'red', main_btn_icon:'fa fa-sign-in', btns:btns}
=render 'home/partials/components/float_button'