i.fa.fa-heart.styled {
  color: #E33100;
  text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #E33100,
               0 0 30px #E33100,
               0 0 40px #E33100,
               0 0 50px #E33100,
               0 0 75px #E33100;
}

i.ion-cash {
  color: rgba(0, 150, 136, 0.8);
  text-shadow: 1px 4px 6px #FFF,0 0 0 #000,1px 4px 6px #FFF;
}

i.mdi-action-trending-up {
  color: rgba(245,159,26,0.8);
  text-shadow: 1px 4px 6px #FFF,0 0 0 #000,1px 4px 6px #FFF;
}