/*
 * Frameworks
 *= require nprogress
 *= require nprogress-bootstrap
 *= require prettyphoto-rails
 *
 * My Styles
 *= require sign
 *= require concerns/helpers
 *= require concerns/icon_styles
 *= require concerns/parallax
 *= require concerns/progress
 *= require concerns/social
*/

@import "ionicons";
@import "font-awesome";
@import "materialize_config";

#landing {
  .card-panel {
    min-height: 310px;
    max-height: 310px;

    &.expandable {
      max-height: none;
    }
  }
}

.row.step {
  margin: 40px 0;
}

.icon-explanation {
  margin-top: 10%;

  h4 {
    margin-bottom: 25px;
  }

  h5 {
    margin: 15px 0;
    font-size: 1.5rem;
    text-shadow: -3px 2px 7px #000;
  }

  img {
    max-width: 100%;
  }

  .store_downloads {
    margin-top: 145px;
  }

  .sub-title {
    margin-top: 0;
  }
}

.container > .divider {
  margin-bottom: 80px;
}

section {
  .icon-block {
    i.fa,
    i.mdi-notification-system-update,
    i.mdi-communication-quick-contacts-mail {
      font-size: 2.7rem;
    }
  }

  &.partners {
    padding: 3.75em 0;

    .container {
      .divider {
        margin-bottom: 45px;
      }

      .card-content {
        .divider {
          margin-bottom: 15px;
        }
      }
    }

    header {
      font-size: 32px;
    }

    &.opacity {
      opacity: .6;
    }

    h5 {
      font-size: 1.5rem;
    }

    .card-content {
      h5.sub-title {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
      }
    }
  }

  &.features {
    h5 {
      font-size: 1.3rem;
    }
  }

  .container.steps {
    .card {
      .card-content {
        padding-top: 5px;

        i {
          margin-right: 15px;
        }
      }
    }
  }
}

.steps {
  .card {
    .divider {
      margin-bottom: 15px;
    }
  }
}

.investor_profile_type {
  padding-top: 25px;
}

.observations {
  p {
    margin: 5px 0;
  }
}

.receipt_calc {
  margin-top: 100px;
}

h6 {
  font-size: 1.2rem;
}

p.slim_margin {
  margin-bottom: -15px;
}

.alert {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 2px;
  background-color: #FFCDD2;
  color: #E53935;
}

strong {
  font-weight: bold;
}