html {
  font-family: 'Roboto Mono', sans-serif !important;
}

p {
  font-size: 18px;
}

.store_downloads {
  .btn, .btn-large {
    span {
      font-size: 1.4rem;
    }
  }
}

.campaign_body {
  iframe {
    max-width: 100% !important;
  }
}

#redactor-modal, #redactor-modal-box {
  footer {
    height: 75px;
  }
}

.stats-card>i[class*=ion-] {
  bottom: -3.2rem;
}

.orders-card {
  h4 {
    font-size: 1.5rem;
  }

  .row .col {
    padding: 0 !important;
  }
}

ul.padding {
  li.collection-item.avatar.col.l6 {
    padding-top: 20px;
  }
}

#example_person {
  width: 0;
  height: 0;
  display: none;
}

.card+.card {
  margin-top: 0;
}

.content-wrap {
  .card {
    margin: 0;
  }
}

.collection .collection-item.avatar a.secondary-content,
.collection .collection-item.avatar i.secondary-content {
  top: 9px;
}

.yaybar i.ion-flame {
  top: -3px;
  left: 5px;
  font-size: 1.3em;
  position: relative;
}

.alert {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 2px;
  background-color: #FFCDD2;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;

  strong {
    margin-right: 5px;
    font-weight: bold;
  }
}

.card, .card-content, .card-panel {
  .alert {
    padding: 1rem;
  }
}

#company_footer {
  #fb_like_box {
    margin-top: -175px;
  }
}

a.active-aside-menu {
  font-size: 1.9rem;
  margin-left: 15px;
  position: absolute;
}

.tabs {
  overflow-x: hidden !important;
}

img#pitch_avatar {
  margin-left: -5%;
}