// Helpers classes
.shadow {
  text-shadow: black 0 0 10px;
}

.row.no-bottom-spacing {
  margin-bottom: 0;
}

.light-weight {
  font-weight: 200;
}

.divider {
  margin: 15px 0;
}

.slim {
  font-weight: 300;
}

.strong {
  font-weight: bold;
}

.space {
  margin-bottom: 50px;
}

.action-btn {
  font-size: 1.5rem;
}

.uppercase {
  text-transform: uppercase;
}

#main_footer {
  & > .row {
    margin-bottom: 0;
  }

  .brand {
    width: 90%;
    margin-top: 22px;
  }
}

footer.white {
  #main_footer {
    .brand {
      width: 110%;
    }
  }
}

center.action {
  margin-bottom: 20px;
}

.investor_profile_type {
  padding-top: 40px;
}

.divider.slim {
  margin: 10px 0;
}

.clear-spacing {
  margin: 0 !important;
  padding: 0 !important;
}

a.btn.btn-small,
button.btn.btn-small {
  height: 25.2px;
  line-height: 25px;
  font-size: .8rem;
}

ul.style_warning_list {
  padding-left: 25px;

  li {
    list-style-type: disc;
  }
}