// Helpers classes
.shadow {
  text-shadow: black 0 0 10px;
}

.invisible {
  display: none;
}

.row.no-bottom-spacing {
  margin-bottom: 0;
}

.circle {
  border-radius: 50% !important;
}

.card-panel.stats-card.circle {
  min-height: 90px;
  max-height: 90px;

  & > i {
    font-size: 6rem;
    position: absolute;

    &.fa {
      left: 30%;
      bottom: -4%;
    }

    &[class*=ion-] {
      left: 20%;
      bottom: -25%;
    }
  }
}

.row.top-fat {
  margin-top: 25px;
}

.txt_un_transform {
  text-transform: none !important;
}

.banner {
  max-height: 300px;
}

.invisible {
  width: 0;
  height: 0;
}

.warning_label {
  margin-top: 90px;
}

.semi-circle {
  border-radius: 25%;
}

.set-pitch_cover {
  img {
    max-height: 116px;
  }

  p {
    margin-top: -10px;
  }
}

.set-cover {
  margin-top: -10px;
}

.set-pitch_brand {
  img {
    top: 20px;
    left: 25px;
    position: relative;
  }
}

h1.set-video {
  i {
    top: -30px;
    font-size: 8rem;
    position: relative;
  }
}

.light-weight {
  font-weight: 200;
}

.divider {
  margin: 15px 0;
}

.slim {
  font-weight: 300;
}

.strong {
  font-weight: bold;
}

.space {
  margin-bottom: 50px;
}

.action-btn {
  font-size: 1.5rem;
}

.uppercase {
  text-transform: uppercase;
}

#main_footer {
  & > .row {
    margin-bottom: 0;
  }

  .brand {
    width: 90%;
    margin-top: 22px;
  }
}

footer.white {
  #main_footer {
    .brand {
      width: 110%;
    }
  }
}

center.action {
  margin-bottom: 20px;
}

.investor_profile_type {
  padding-top: 40px;
}

.divider.slim {
  margin: 10px 0;
}

.clear-spacing {
  margin: 0 !important;
  padding: 0 !important;
}

.footer-info {
  margin: -10px 0 10px 45px;
}

a.btn.btn-small,
button.btn.btn-small {
  height: 25.2px;
  line-height: 25px;
  font-size: .8rem;
}

ul.style_warning_list {
  padding-left: 25px;

  li {
    list-style-type: disc;
  }
}

input:-webkit-autofill,
select:-webkit-autofill,
textarea:-webkit-autofill,
input:-webkit-autofill:hover
input:-webkit-autofill:focus {
  color: black;
  background-image: none !important;
  background-color: white !important;
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

h5.icon {
  i {
    font-size: 4rem;
  }
}

.attr_shower {
  [class*=ion-ios],
  [class*=ion-],
  .ion-arrow-swap {
    font-size: 1.2rem;
  }
}

a.selector {
  cursor: pointer;
}