// Global icons re-style
i.left-icon {
  float: none;

  &:before {
    margin-right: 10px;
  }
}

span.margin_right {
  margin-right: 5px;
}

.right-icon {
  &:before {
    margin-left: 15px;
  }
}

.bit_bigger {
  font-size: 1.4rem;
}

ul.advantages {
  li i {
    font-size: 2rem;
  }
}

ul.topic_icons {
  i {
    font-size: 2rem;
  }

  span {
    line-height: 2;
    font-size: 1.6rem;
  }
}

.left-icon {
  float: none;
  margin-right: 5px;
}

.right-icon {
  float: none;
  margin-left: 5px;
}

i.right-icon.slim {
  margin-left: 10px;
}


// Specific icons style
i.fa.fa-heart.styled {
  color: #E33100;
  text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #E33100,
               0 0 30px #E33100,
               0 0 40px #E33100,
               0 0 50px #E33100,
               0 0 75px #E33100;
}

i.ion-cash.styled {
  color: rgba(0, 150, 136, 0.8);
  text-shadow: 1px 4px 6px #FFF,0 0 0 #000,1px 4px 6px #FFF;
}

i.mdi-action-trending-up.styled {
  color: rgba(245,159,26,0.8);
  text-shadow: 1px 4px 6px #FFF,0 0 0 #000,1px 4px 6px #FFF;
}

i.ion-earth.styled {
  color: rgba(33, 150, 243, 0.8);
  text-shadow: 1px 4px 6px #FFF,0 0 0 #000,1px 4px 6px #FFF;
}

i.ion-upload,
i.ion-android-upload {
  color: #2DAEBF;
  text-shadow:  0 1px 0 #0092b3,
                0 2px 0 #0087a6,
                0 3px 0 #008099,
                0 4px 0 #00758c,
                0 5px 0 #555,
                0 6px 0 #006a80,
                0 0 0 #006073,
                0 8px 7px #005566;
}

// Rounded Icons
i.rounded-topic {
  width: 60px;
  height: 60px;
  font-size: 31px;
  line-height: 60px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 50%;
}

.topic-icon {
  text-align: center;
}

i.first-min-icon {
  left: 20px;
  position: relative;
}

i.last-min-icon {
  top: 14px;
  left: -14px;
  position: relative;
}