.parallax {
  .overlay {
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:9999;
    position:absolute;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .darken-overlay {
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:9999;
    position:absolute;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .light-overlay {
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:9999;
    position:absolute;
    background-color: rgba(0, 0, 0, 0.08);
  }
}


.hide-on-med-and-up {
  .section.no-pad-bot {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image:url(image_path("defaults/jk.jpg"));
  }
}

img.overlay {
  width: inherit;
  background-color:rgba(0, 0, 0, 0.4);
}

.parallax-container {
  height: 95vh !important;

  &.expanded {
    height: 100vh !important;
  }
}

.parallax-footer {
  bottom: 0;
  position: absolute;
}