footer#includes_js {
  height: 0;
  padding: 0;
}

ul#user-dropdown.dropdown-content {
  li > a, li > span {
    font-size: .9em;
  }

  li > a i {
    top: -5px;
    font-size: 1em;
    margin-right: 10px;
    position: relative;
  }
}

.yaybar, .yaybar.yay-light {
  .nano-content>ul {
    li.label {
      color: #9C27B0;
      cursor: default;
    }

    li {
      a:hover, a:focus, a.active {
        color: #ff8f00;
      }
    }
  }
}

.content-wrap > .card-panel {
  padding-bottom: 75px;
}

#error.alert {
  ul {
    margin-top: 0;
    margin-left: 50px;

    li {
      list-style-type: disc;
    }
  }
}

.yaybar .nano-content>ul li>.sp-cancel,
.yaybar .nano-content>ul li>a {
  padding: 5px;
}

.content-wrap {
  & > .alert {
    padding-top: 1rem;
  }

  .card-panel {
    .row .col {
      .card {
        margin-bottom: 32px;
      }
    }

    & > .divider {
      margin-bottom: 35px;
    }
  }
}